h1{
	font-color: black;
	text-align: right;
}

h3{
	font-color: #7d97ad;
	text-align: right;
}

div.logo{
	float:left;
	img-align:top;
	margin:0;
	padding:0;
	height:20%;
	width:20%;
}

nav{
	width: 100%
	border: 1px solid #ccc;
    border-right: none;
}


nav ul 
{
    /*list-style-type: none;*/
    overflow: hidden;
	margin: 0;
    padding: 0;
    background-color: #BFDEE7;
}

nav ul li{
	list-style: none;
	float:left;
	border-left: 1% solid #fff;
	border-right: 1% solid #ccc;
	border-color:white;
	boreder-sizing: border-box;
	width: 25%
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a{
	display: block;
    color: #3B2E3D;
	text-align: center;
    padding: 48px 48px;
	margin: 0;
	text-decoration: none;
    font-size: 130%;
}

a:hover{
	background-color: #8EACB4;
}